body {
  font-family: arial, sans-serif;
}

img {
  height: auto;
  padding: 15px;
  max-width: 60px;
}

h1 {
  color: white;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin: 0;
}

ul {
  margin: 0 0 10px;
  padding: 0;
}

li {
  color: white;
  font-size: 16px;
  font-weight: 100;
  height: 19px;
  line-height: 1;
  list-style: none;
}

footer {
  text-align: center;
  color: grey;
}

.weather-app {
  background: linear-gradient(#8fe0ff, #75b4e3);
  border: 1px solid #dadde1;
  padding: 15px;
  margin: 20px auto;
  border-radius: 10px;
  max-width: 600px;
}

#icon {
  height: 120px;
  width: 120px;
  margin-right: 100px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}

.search-form {
  margin-bottom: 20px;
}
